@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #ffffff; }

/* CODIGOS REUTILIZADOS */
.h1 {
  font-size: 2.6rem; }

.h2 {
  font-size: 2.4rem; }

.h3 {
  font-size: 2.2rem; }

.h4 {
  font-size: 2rem; }

.h5 {
  font-size: 1.8rem; }

.parrafos {
  color: #000000;
  font-size: 1.6rem;
  padding: 1.5rem; }

.articulosPrincipales {
  background-color: #ffffff;
  text-align: center;
  border-radius: 1rem;
  border: 0.3rem solid #0076A8;
  margin: 1rem 0rem 1rem 0rem; }

/* >>> HEADER <<< */
.header {
  border-bottom: .3rem solid #000000;
  padding: 0px;
  /* LOGO */
  /* NAVEGACIÓN */ }
  .header .logo-titulo {
    font-size: 3.5rem;
    color: #000000; }
  .header .navbar {
    padding: 0px; }
    .header .navbar .navegacion {
      justify-content: flex-end; }
      .header .navbar .navegacion .posicion-navegacion {
        align-items: center; }
        .header .navbar .navegacion .posicion-navegacion .nav-link .h4 {
          font-size: 2rem;
          margin: 1.5rem;
          border-bottom: .3rem solid white;
          transition: .3s; }
        .header .navbar .navegacion .posicion-navegacion .nav-link .h4:hover {
          border-bottom: .3rem solid #000000; }

/* >>>>>> INICIO DE CONTENIDO index.html <<<<<< */
/* CAROUSEL */
.img-tamaños {
  width: auto;
  height: auto; }

.color-titulo {
  color: orange;
  font-weight: bolder; }

/* TAMAÑO DE IMAGEN */
@media (min-width: 768px) {
  .img-tamaños {
    width: auto;
    height: 400px; } }

@media (min-width: 1024px) {
  .img-tamaños {
    width: auto;
    height: 600px; } }

/* SECCION SECUNDARIA */
.caja {
  padding: 1rem 2rem 1rem 2rem; }
  .caja .caja-criptomonedas {
    justify-content: space-around; }
  .caja .articulosPrincipales .articulosPrincipales__h2 {
    font-size: 2.4rem;
    color: #03045e; }
  .caja .articulosPrincipales .articulosPrincipales__parrafos {
    color: #000000;
    font-size: 1.6rem;
    padding: 1rem; }
  .caja .articulosPrincipales .articulosPrincipales__px-img-articles {
    width: 200px;
    height: 100px; }
  @media (min-width: 768px) {
    .caja .articulosPrincipales .articulosPrincipales__px-img-articles {
      width: 300px;
      height: 150px; } }

/* SECCIÓN ASIDE */
.aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  text-align: center;
  margin: 1rem;
  justify-content: space-between; }
  .aside .article-aside {
    background: ghostwhite;
    border: 0.2rem solid #2b2d42; }
    .aside .article-aside .imagenes-px-aside {
      width: 230px;
      height: 130px; }

@media (min-width: 768px) {
  .aside {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr); } }

/* SECCION INFORMES */
.seccionInformes {
  border-top: .3rem solid black;
  border-bottom: .3rem solid black;
  padding: 1rem; }
  .seccionInformes .informes-tituloParrafos {
    padding-left: 4rem;
    padding-top: 4rem; }
  .seccionInformes .informes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-content: center;
    grid-row-gap: 1rem;
    grid-column-gap: 1.2rem;
    align-items: stretch;
    margin: 1rem;
    text-align: center; }
    .seccionInformes .informes .articuloInformes {
      width: auto;
      height: 210px;
      border-radius: 1rem;
      background-color: #ffffff;
      border: 0.3rem solid #0076A8;
      transition: .3s;
      transition-timing-function: ease;
      word-break: break-word; }
      .seccionInformes .informes .articuloInformes .articuloInformes__imagenInformes {
        width: 200px;
        height: 100px;
        margin: 1rem; }
      .seccionInformes .informes .articuloInformes a {
        text-decoration: none;
        color: #2b2d42;
        margin: 0.1rem; }
      .seccionInformes .informes .articuloInformes .articuloInformes__h4 {
        font-size: 2rem;
        font-weight: bolder; }
    .seccionInformes .informes .articuloInformes--hover:hover {
      transform: scale(1.01, 1.01);
      border: .3rem solid #0352A8; }
    @media (min-width: 1024px) {
      .seccionInformes .informes .articuloInformes--hover:hover {
        transform: scale(1.03, 1.03); } }

/* Articulos de HTML */
.articulo {
  background-color: #ffffff;
  border: .3rem solid #000000;
  width: auto;
  display: grid;
  grid-template-areas: 'titulo' 'imagen' 'parrafos' 'aside';
  gap: 1rem;
  margin: 1rem; }
  .articulo .titulo-articulo {
    grid-area: titulo;
    border-bottom: .3rem solid #000000; }
    .articulo .titulo-articulo .titulo-articulo__h2 {
      font-size: 2.4rem;
      margin: 1rem;
      font-weight: bolder; }
  .articulo .image-principal {
    grid-area: imagen; }
    .articulo .image-principal .imagen-principal__imagen {
      margin-top: 1rem;
      width: 256px;
      height: 144px;
      border: .3rem solid black; }
  .articulo .texto-articulo {
    grid-area: parrafos; }
    .articulo .texto-articulo .texto-articulo__h3 {
      font-size: 2.2rem;
      margin: 1rem;
      font-weight: bolder; }
    .articulo .texto-articulo .texto-articulo__h4 {
      font-size: 2rem;
      margin: 1rem;
      font-weight: bolder; }
    .articulo .texto-articulo .texto-articulo__parrafos {
      color: #000000;
      font-size: 1.6rem;
      padding: 1.5rem; }
    .articulo .texto-articulo .texto-articulo__parrafos--hover:hover {
      background-color: ghostwhite; }
    .articulo .texto-articulo .texto-articulo__imagen {
      margin-top: 1rem;
      width: 256px;
      height: 144px;
      border: .3rem solid black; }
    .articulo .texto-articulo .texto-articulo__lista-ordenada {
      padding: 2rem;
      list-style-image: url(../images/item.svg);
      text-align: left; }
    .articulo .texto-articulo .texto-articulo__lista-desordenada {
      padding: 3rem;
      text-align: left; }
  .articulo .sub-seccion {
    text-align: center;
    border-top: .2rem solid #000000;
    padding: 1rem; }
    .articulo .sub-seccion .aside-articulo {
      grid-area: aside;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, 1fr);
      grid-template-rows: repeat(auto-fill, 1fr);
      justify-content: space-around;
      align-items: stretch; }
      .articulo .sub-seccion .aside-articulo .articuloInformes {
        border-radius: 1rem;
        background-color: #ffffff;
        border: 0.3rem solid #0076A8;
        transition: .3s;
        transition-timing-function: ease; }
        .articulo .sub-seccion .aside-articulo .articuloInformes .articuloInformes__imagenInformes {
          width: 200px;
          height: 100px;
          margin: 1rem; }
        .articulo .sub-seccion .aside-articulo .articuloInformes a {
          text-decoration: none;
          color: #2b2d42;
          margin: 0.1rem; }
        .articulo .sub-seccion .aside-articulo .articuloInformes .articuloInformes__h4 {
          font-size: 2rem;
          font-weight: bolder; }
      .articulo .sub-seccion .aside-articulo .articuloInformes--hover:hover {
        transform: scale(1.01, 1.01);
        border: .3rem solid #0352A8; }
      @media (min-width: 1024px) {
        .articulo .sub-seccion .aside-articulo .articuloInformes--hover:hover {
          transform: scale(1.03, 1.03); } }
  .articulo .grid-area {
    background-color: #ffffff;
    text-align: center;
    font-size: 3rem; }

@media (min-width: 480px) {
  .articulo {
    gap: 1rem;
    margin: .5rem; }
    .articulo .imagen-principal .imagen-principal__imagen {
      width: 426px;
      height: 240px; }
    .articulo .texto-articulo .texto-articulo__imagen {
      width: 426px;
      height: 240px; } }

@media (min-width: 768px) {
  .articulo .imagen-principal .imagen-principal__imagen {
    width: 640px;
    height: 360px; }
  .articulo .texto-articulo .texto-articulo__imagen {
    width: 640px;
    height: 360px; } }

@media (min-width: 1024px) {
  .articulo {
    padding: 1rem; }
    .articulo .imagen-principal .imagen-principal__imagen {
      width: 854px;
      height: 480px; }
    .articulo .texto-articulo .texto-articulo__imagen {
      width: 854px;
      height: 480px; }
  .aside-articulo {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); } }

/* SECCIÓN OPINIONES */
.seccionOpiniones {
  padding: 1rem; }
  .seccionOpiniones .opiniones-tituloParrafos {
    flex: 1;
    padding-left: 4rem;
    padding-top: 4rem; }
  .seccionOpiniones .cajas-opiniones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; }
    .seccionOpiniones .cajas-opiniones .card {
      max-width: 40rem; }
      .seccionOpiniones .cajas-opiniones .card .card-header {
        padding: 0rem; }
        .seccionOpiniones .cajas-opiniones .card .card-header .opiniones-img {
          border-radius: .5rem .5rem 0rem 0rem;
          width: auto;
          height: auto; }
      .seccionOpiniones .cajas-opiniones .card .card-body .card-title {
        color: orange; }
      .seccionOpiniones .cajas-opiniones .card .card-body .h3 {
        font-weight: bolder; }
      .seccionOpiniones .cajas-opiniones .card .card-footer .span-card {
        color: orange;
        font-weight: bolder; }
    .seccionOpiniones .cajas-opiniones .border-success {
      border-color: #0076A8 !important; }

/* >>> PAGINA 404 <<< */
.mantenimiento {
  background-color: white;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem; }
  .mantenimiento .mantenimiento__imagen {
    color: white; }
  .mantenimiento .mantenimiento__color {
    color: orange; }
  .mantenimiento .mantenimiento__volver {
    font-size: 2.7rem; }
  .mantenimiento .mantenimiento__link {
    font-size: 2.8rem;
    background-color: blue;
    border: .3rem;
    border-radius: 1rem;
    color: white;
    padding: .3rem;
    text-decoration: none; }
  .mantenimiento .mantenimiento__link:hover {
    color: antiquewhite; }

@media (min-width: 768px) {
  .mantenimiento .mantenimiento__imagen {
    width: 600px;
    height: 400px; } }

/* >>>>>> SECCIÓN CRYPTO <<<<<< */
.seccionCrypto {
  background-color: #ffffff;
  width: auto;
  height: auto;
  display: grid;
  margin: 1rem;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  border: .3rem solid #003049;
  grid-template-columns: repeat(auto-fill, 225px);
  grid-template-rows: repeat(auto-fill, 270rem); }
  .seccionCrypto .cryptos {
    width: auto;
    height: 27rem;
    border: .1rem solid #ffffff;
    transition: .3s;
    transition-timing-function: ease;
    padding: 1rem; }
    .seccionCrypto .cryptos .img-cryptos {
      width: auto;
      padding: 1rem;
      border: .3rem solid #212126;
      border-radius: .3rem; }
      .seccionCrypto .cryptos .img-cryptos .img-cryptos__imagenes-px-crpypto {
        width: 75px;
        height: 75px; }
    .seccionCrypto .cryptos .cryptos__h3 {
      font-size: 2.2rem; }
    .seccionCrypto .cryptos .cryptos__parrafos {
      color: #000000;
      font-size: 1.6rem;
      padding: 1rem; }
    .seccionCrypto .cryptos .cryptos__links {
      text-decoration: none;
      color: #2b2d42; }
  .seccionCrypto .cryptos:hover {
    transform: scale(1.05, 1.05);
    border: .1rem solid #212126; }

/* >>>>>> generacion.html <<<<<< */
.articuloGeneracion {
  background-color: #ffffff;
  margin: 1rem;
  border: .3rem solid #000000;
  padding: 2rem; }
  .articuloGeneracion .viñetas {
    list-style-image: url(../images/item.svg); }
  .articuloGeneracion .articuloGeneracion__h2 {
    font-size: 2.4rem;
    margin: 1rem; }
  .articuloGeneracion .articuloGeneracion__h3 {
    font-size: 2.2rem;
    margin: 1rem; }
  .articuloGeneracion .articuloGeneracion__parrafos {
    color: #000000;
    font-size: 1.6rem;
    padding: 1.5rem; }
  .articuloGeneracion .articuloGeneracion__parrafos .articuloGeneracion__parrafos--hover:hover {
    background: ghostwhite; }

/* >>>>>> top.html <<<<<< */
.seccionTabla {
  padding: 1rem; }
  .seccionTabla .articulosPrincipales .articulosPrincipales__h3 {
    font-size: 2.2rem; }
  .seccionTabla .articulosPrincipales .tabla tr {
    font-size: 1.6rem; }
  .seccionTabla .articulosPrincipales .logotipo-top {
    width: 2rem;
    height: 2rem; }

/* >>>>>> contacto.html <<<<<< */
.seccionContacto {
  padding: 1rem; }
  .seccionContacto .articulosPrincipales {
    border-color: #000000; }
    .seccionContacto .articulosPrincipales .articulosPrincipales__h2 {
      font-size: 2.4rem;
      margin: 1rem; }
    .seccionContacto .articulosPrincipales .formulario {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center; }
    .seccionContacto .articulosPrincipales #nombre {
      width: 29rem;
      height: 3.4rem;
      border: .1rem solid #808080;
      border-radius: 1rem;
      padding: 1rem;
      margin: 1rem;
      font-size: 1.4rem; }
    .seccionContacto .articulosPrincipales #email {
      width: 29rem;
      height: 3.4rem;
      border: .1rem solid #808080;
      border-radius: 1rem;
      padding: 1rem;
      margin: 1rem;
      font-size: 1.4rem; }
    .seccionContacto .articulosPrincipales #asunto {
      width: 29rem;
      height: 3.4rem;
      border: .1rem solid #808080;
      border-radius: 1rem;
      padding: 1rem;
      margin: 1rem;
      font-size: 1.4rem; }
    .seccionContacto .articulosPrincipales #comentario {
      width: 29rem;
      height: 25.4rem;
      border: .1rem solid #808080;
      border-radius: 1rem;
      padding: 1rem;
      margin: 1rem;
      font-size: 1.4rem; }
    .seccionContacto .articulosPrincipales .enviar {
      font-size: 1.6rem;
      width: 14rem;
      height: 3.2rem; }
    .seccionContacto .articulosPrincipales .informacion {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center; }
    .seccionContacto .articulosPrincipales .informacion__parrafos {
      color: #000000;
      font-size: 1.6rem;
      padding: 1.5rem; }
    @media (min-width: 480px) {
      .seccionContacto .articulosPrincipales #nombre, .seccionContacto .articulosPrincipales #email, .seccionContacto .articulosPrincipales #asunto, .seccionContacto .articulosPrincipales #comentario {
        width: 45rem; } }
    @media (min-width: 600px) {
      .seccionContacto .articulosPrincipales .tamaño {
        width: 80%; }
      .seccionContacto .articulosPrincipales #nombre, .seccionContacto .articulosPrincipales #email, .seccionContacto .articulosPrincipales #asunto, .seccionContacto .articulosPrincipales #comentario {
        width: 44rem; } }
    @media (min-width: 768px) {
      .seccionContacto .articulosPrincipales .formulario {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; }
      .seccionContacto .articulosPrincipales #nombre, .seccionContacto .articulosPrincipales #email {
        width: 35rem; }
      .seccionContacto .articulosPrincipales #asunto, .seccionContacto .articulosPrincipales #comentario {
        width: 72rem; } }
    @media (min-width: 1024px) {
      .seccionContacto .articulosPrincipales #nombre, .seccionContacto .articulosPrincipales #email {
        width: 29rem; }
      .seccionContacto .articulosPrincipales #asunto, .seccionContacto .articulosPrincipales #comentario {
        align-self: center;
        width: 60rem; }
      .seccionContacto .articulosPrincipales .tamaño {
        width: 700px; } }
    @media (min-width: 1200px) {
      .seccionContacto .articulosPrincipales #nombre, .seccionContacto .articulosPrincipales #email {
        width: 36rem; }
      .seccionContacto .articulosPrincipales #asunto, .seccionContacto .articulosPrincipales #comentario {
        width: 74rem; }
      .seccionContacto .articulosPrincipales .tamaño {
        width: 800px; } }

/* >>> FOOTER <<< */
.footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: auto;
  height: 10rem;
  border-top: 0.3rem solid #000000;
  border-bottom: 0.3rem solid #000000;
  align-items: center; }
  .footer .redes {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 1rem;
    list-style-type: none; }
  .footer .creador {
    flex: 1;
    text-align: center;
    border-left: 2px solid #000000;
    padding: .8rem; }
    .footer .creador .creador__h4 {
      font-size: 2rem;
      padding: 0.2rem; }

/* ALTO, DIRECCIÓN Y ESTILO */
@media (min-width: 480px) {
  .footer {
    height: 15rem; }
    .footer .redes {
      justify-content: center; }
      .footer .redes .redes__lista {
        transition-timing-function: ease;
        transition: .2s;
        padding: 1rem; }
    .footer .redes .redes__lista:hover {
      transform: scale(1.1, 1.1); }
    .footer .creador {
      padding: 1rem;
      margin: 1rem; } }
